@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex flex-column justify-content-center align-items-center vh-100"
     data-bind="css: isLoading() ? 'd-flex' : 'd-none'">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="app d-none" data-bind="css: isLoading() ? 'd-none' : ''">
    <div class="sidebar">
        <div class="header">
            <h5>Phòng Chat</h5>
            <a href="#" id="create-room" data-bs-toggle="modal" data-bs-target="#create-room-modal">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <ul class="rooms list-unstyled" id="room-list" data-bind="foreach: chatRooms">
            <li>
                <a href="#"
                   data-bind="text: $data.name, attr: { 'data-roomId': $data.id }, click: $parent.joinRoom.bind($data), css: { active: $root.joinedRoom() == $data.name()}"></a>
            </li>
        </ul>
        <div class="profile">
            <div>
                <img src="/images/icons/avatar1.png"
                     class="user-avatar"
                     data-bind="attr: { src: '/images/icons/' + myAvatar() }" />
                <a style="text-decoration: none;" asp-area="Identity"
                   asp-page="/Account/Manage/Index" data-bind="text: myName"></a>
            </div>
            <form class="form-inline"
                  asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="/" method="post">
                <button type="submit" class="btn-sign-out">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="main-content" data-bind="visible: joinedRoom().length == 0">
        <span class="m-auto">
            Vui lòng chọn phòng để tham gia!
        </span>
    </div>
    <div class="main-content" data-bind="visible: joinedRoom().length > 0">
        <div class="header">
            <h5 id="joinedRoom" data-bind="text: joinedRoom()">Lobby</h5>
            <div class="room-actions">
                <button type="button" class="btn btn-link text-secondary px-1" data-bs-toggle="modal" data-bs-target="#rename-room-modal">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-link text-secondary px-1" data-bs-toggle="modal" data-bs-target="#remove-room-modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="chat-body">
            <ul class="list-unstyled" data-bind="foreach: chatMessages">
                <li>
                    <div class="chat-message d-flex"
                         data-bind="css: $data.isMine() === true ? 'ismine' : 'isother'">
                        <div class="left-side">
                            <img src="/images/icons/avatar1.png" class="message-avatar"
                                 data-bind="attr: { src: '/images/icons/' + $data.avatar() }" />
                        </div>
                        <div class="message-content d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <span class="author" data-bind="text:$data.from"></span>
                                <span class="timestamp">
                                    <i class="far fa-clock"></i>
                                    <span data-bind="text:$data.timestamp"></span>
                                </span>
                            </div>
                            <span class="content" data-bind="html:$data.content"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-input">
            <input style="border: 1px solid #ccc; border-radius: 4px; outline: none;" id="chat-message" type="text" value=""
                   data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnter }"
                   placeholder="Gửi một tin nhắn nào!!! " />
            <div class="actions d-flex align-items-center">
                <form method="post" asp-action="Upload"
                      asp-controller="Upload" enctype="multipart/form-data" id="uploadForm">
                    <label for="UploadedFile" class="custom-file-upload">
                        <i class="far fa-image"></i>
                    </label>
                    <input type="hidden" name="RoomId" data-bind="value: joinedRoomId()" />
                    <input type="file" id="UploadedFile" name="File" accept=".jpg,.jpeg,.png"
                           data-bind="event: {change: uploadFiles}">
                </form>
                <a id="emojibtn" href="#">
                    <i class="far fa-smile"></i>
                </a>
                <a id="voiceChatButton">
                    <i class="fas fa-microphone"></i>
                </a>

                <i class="fas fa-paper-plane"
                   id="btn-send-message" data-bind="click: sendNewMessage"></i>
            </div>
            <div class="emoticon-container d-none" id="emojis-container">
                <a href="#"><input type="hidden" value=":)" /><img src="~/images/emojis/emoji1.png" /></a>
                <a href="#"><input type="hidden" value=":P" /><img src="~/images/emojis/emoji2.png" /></a>
                <a href="#"><input type="hidden" value=":O" /><img src="~/images/emojis/emoji3.png" /></a>
                <a href="#"><input type="hidden" value=":-)" /><img src="~/images/emojis/emoji4.png" /></a>
                <a href="#"><input type="hidden" value="B|" /><img src="~/images/emojis/emoji5.png" /></a>
                <a href="#"><input type="hidden" value=":D" /><img src="~/images/emojis/emoji6.png" /></a>
                <a href="#"><input type="hidden" value="<3" /><img src="~/images/emojis/emoji7.png" /></a>
            </div>
        </div>
    </div>
    <div class="users-container">
        <div class="header">
            <h5>Danh sách người dùng (<span data-bind="text: filteredChatUsers().length">0</span>)</h5>
        </div>
        <ul id="users-list" class="list-unstyled" data-bind="foreach: filteredChatUsers">
            <li>
                <div class="user">
                    <img src="~/images/icons/avatar1.png" class="user-avatar" data-bind="attr: { src: '/images/icons/' + $data.avatar() }" />
                    <div class="right-side">
                        <input type="hidden" class="username" data-bind="value: $data.userName" />
                        <span class="author" data-bind="text: $data.displayName"></span>
                        <small data-bind="text: $data.device"></small>
                    </div>
                </div>
            </li>
        </ul>
        <input style="border: 1px solid #ccc; border-radius: 4px; outline: none;"  type="text" class="" placeholder="Tìm kiếm người dùng..." data-bind="value: filter, valueUpdate: 'afterkeydown'" />
    </div>
</div>

<div class="modal fade" id="create-room-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="roomName" placeholder="Tên phòng">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: createRoom">Tạo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rename-room-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi tên phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="newRoomName"
                       data-bind="value: $root.joinedRoom()">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: editRoom">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="remove-room-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa phòng chat này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bind="click: deleteRoom">Xoá</button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning alert-dismissible d-none custom-alert"
     id="errorAlert" role="alert">
    <span data-bind="text:serverInfoMessage"></span>
</div>

<div id="createNotification" class="alert alert-success d-none custom-alert" role="alert"></div>

<div id="updateNotification" class="alert alert-info d-none custom-alert" role="alert"></div>

<div id="userJoinNotification" class="alert alert-primary d-none custom-alert" role="alert"></div>

<div id="userJoinNotification" class="alert alert-primary d-none custom-alert" role="alert"></div>


<div id="voice-chat-status" class="voice-chat-overlay d-none">
    <span id="recording-message">Đang ghi âm...</span>
    <div id="transcript-area" class="d-none">
        <p id="transcript-text" class="mt-3"></p>
        <button id="confirm-send" class="btn btn-success btn-sm mt-2">Gửi</button>
        <button id="cancel-transcript" class="btn btn-danger btn-sm mt-2">Xóa</button>
    </div>
</div>



@section Scripts {



    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/KnockoutJS/knockout-3.5.1.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/chat.js"></script>

}

<style>
    .app {
        display: flex;
        height: 90%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 12;
        left: 0;
        background-color: white;
    }

    .custom-alert {
        background-color: #fff3cd;
        color: #856404; 
        border: 1px solid #ffeeba; 
        border-radius: 8px;
        padding: 15px;
        position: fixed;
        top: 60px;
        right: 320px;
        max-width: 400px;
        z-index: 1050;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    i#btn-send-message {
        margin: 0 12px;
    }

    #voiceChatButton {
        color: #007bff;
        font-size: 18px;
        margin-left: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

        #voiceChatButton.active {
            color: #dc3545; 
        }

    .voice-chat-overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px 40px;
        border-radius: 10px;
        font-size: 18px;
        text-align: center;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 50%;
    }

        .voice-chat-overlay span {
            font-weight: bold;
        }

    #transcript-area {
        margin-top: 15px;
        text-align: left;
    }

    #transcript-text {
        background: white;
        color: black;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }





</style>