@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký!!!";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Một email đã được gửi đến địa chỉ email của bạn. Vui lòng kiểm tra hộp thư đến và nhấn vào liên kết trong email để xác nhận tài khoản. Nếu bạn không nhận được email, hãy kiểm tra thư mục spam.
        </p>
        <p>
            Nhấn nút bên dưới để mở Gmail và kiểm tra email của mình.
        </p>

        <p>
            <a href="https://mail.google.com" class="btn btn-primary">Mở Gmail</a>
        </p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

<style>
    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        color: #343a40;
        margin: 32px;
    }

    p {
        text-align: center;
        font-size: 18px;
        color: #495057;
    }

    .btn-primary {
        display: inline-block;
        margin: 20px auto;
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

</style>